<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
    <h2>Новые статьи за неделю в твоём любимом разделе!</h2>
    <hr>
    {% for item in news %}
        <p>Заголовок - {{item.heading}} </p>
        <p>Содержание - {{item.body|truncatechars:50}} </p>
        <a href="{{ item.url_for_letter }}">Ссылка на статью</a>
        <hr>
    {% endfor %}
{% endblock content %}
</body>
</html>