<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
<!-- загружаем фильтры -->
{% load custom_filters %}
{% block title %}
Статьи
{% endblock title %}

{% block content %}
    <h2>Все статьи (общее количество {{ posts|length }})</h2>
    {% if posts %}
        <table>
            <tr>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Текст
                </th>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.heading|censor }}
                </td>
                <td>
                    {{ post.time_create|date:'d-m-y H:i' }}
                </td>
                <td>
                    {{ post.body|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}
{% endblock content %}