<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
<!-- загружаем фильтры -->
{% load custom_filters %}
{% block title %}
Статья
{% endblock title %}

{% block content %}
    {% if post %}
        <table>
            <tr>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Текст
                </th>
            </tr>
            <tr>
                <td>
                    {{ post.heading|censor }}
                </td>
                <td>
                    {{ post.time_create|date:'d-m-y H:i' }}
                </td>
                <td>
                    {{ post.body|censor }}
                </td>
            </tr>
        </table>
    {% else %}
        <h2>Такой статьи нет!</h2>
    {% endif %}
{% endblock content %}